.past-year-weather {
  margin: 0.5em 0 1em 0;
  padding: 0;
  row-gap: 23px;
  justify-content: space-between;
}

.date {
  margin-top: 24px;
}

.weather-card-content {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 16px; 
  background: #fff;
  opacity: 0.7;
  height: 4vh;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 23px 0;

}

span.unit {
  display: float;
}

.card {
  margin: 0.5rem 0;
  border-radius: 10px;
  color: #fff;
  position: relative;
  width: 6rem;
  height: 225px;
  height: 26vh;
  display: flex;
  background: linear-gradient(142.33deg, #CD67DE 18.31%, rgba(139, 86, 223, 0.85) 40.48%, rgba(54, 69, 201, 0.92) 80.31%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Inter', sans-serif;
}

.card .image {
  height: 40%;
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.card .avg-temp {
    display: flex;
    padding: 22px;
    margin-top: 7.5vh;
}

.avg-temp .temperature {
  font-size: 2rem;
  font-weight: 700;
}

.card .temperature-min-max {
  color: #fff;
  opacity: 0.8;
  position:absolute;
  bottom: 23px;
  font-size: 12px;
}